.elementor-3685
  .elementor-element.elementor-element-791acfd:not(.elementor-motion-effects-element-type-background),
.elementor-3685
  .elementor-element.elementor-element-791acfd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-3685 .elementor-element.elementor-element-791acfd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3685
  .elementor-element.elementor-element-791acfd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3685
  .elementor-element.elementor-element-50b5274
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 40px 0px 20px 0px;
}
.elementor-3685 .elementor-element.elementor-element-689d349 {
  text-align: center;
}
.elementor-3685
  .elementor-element.elementor-element-f12cc03
  > .elementor-container {
  max-width: 1410px;
}
.elementor-3685
  .elementor-element.elementor-element-f12cc03
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3685
  .elementor-element.elementor-element-f12cc03:not(.elementor-motion-effects-element-type-background),
.elementor-3685
  .elementor-element.elementor-element-f12cc03
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-3685 .elementor-element.elementor-element-f12cc03 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 30px 0px 30px;
}
.elementor-3685
  .elementor-element.elementor-element-f12cc03
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3685
  .elementor-element.elementor-element-71b9798
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685
  .elementor-element.elementor-element-156d5fc
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685
  .elementor-element.elementor-element-ad8da5a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-fc3bec7 .cafe-wrap-search {
  text-align: center;
}
.elementor-3685
  .elementor-element.elementor-element-23607ee
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-5c6c4f0 {
  text-align: center;
}
.elementor-3685
  .elementor-element.elementor-element-1cb336c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-88569f9 {
  text-align: center;
}
.elementor-3685 .elementor-element.elementor-element-88569f9 .cafe-cart-count {
  --count-bg-color: #00c4b4;
}
.elementor-3685
  .elementor-element.elementor-element-9d9f290
  > .elementor-container {
  max-width: 1410px;
  min-height: 400px;
}
.elementor-3685
  .elementor-element.elementor-element-9d9f290
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3685 .elementor-element.elementor-element-9d9f290 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 30px 0px 30px;
}
.elementor-3685
  .elementor-element.elementor-element-9d9f290
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3685
  .elementor-element.elementor-element-3354e00
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685
  .elementor-element.elementor-element-e561dee
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685
  .elementor-element.elementor-element-f97a7cb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-91a8be5 .cafe-wrap-search {
  text-align: center;
}
.elementor-3685
  .elementor-element.elementor-element-07d3a6d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-54896f8 {
  text-align: center;
}
.elementor-3685
  .elementor-element.elementor-element-89f7d9b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-3685 .elementor-element.elementor-element-16894d9 {
  text-align: center;
}
.elementor-3685 .elementor-element.elementor-element-16894d9 .cafe-cart-count {
  --count-bg-color: #00c4b4;
}
@media (max-width: 1024px) {
  .elementor-3685
    .elementor-element.elementor-element-9d9f290
    > .elementor-container {
    min-height: 90px;
  }
  .elementor-3685 .elementor-element.elementor-element-43f8aa0 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor-3685 .elementor-element.elementor-element-9d9f290 {
    padding: 0px 15px 0px 15px;
  }
  .elementor-3685 .elementor-element.elementor-element-3354e00 {
    width: 30%;
  }
  .elementor-3685 .elementor-element.elementor-element-e561dee {
    width: 40%;
  }
  .elementor-3685 .elementor-element.elementor-element-f97a7cb {
    width: 10%;
  }
  .elementor-3685 .elementor-element.elementor-element-07d3a6d {
    width: 10%;
  }
  .elementor-3685 .elementor-element.elementor-element-89f7d9b {
    width: 10%;
  }
}
@media (min-width: 768px) {
  .elementor-3685 .elementor-element.elementor-element-71b9798 {
    width: 12%;
  }
  .elementor-3685 .elementor-element.elementor-element-156d5fc {
    width: 76%;
  }
  .elementor-3685 .elementor-element.elementor-element-ad8da5a {
    width: 4%;
  }
  .elementor-3685 .elementor-element.elementor-element-23607ee {
    width: 4%;
  }
  .elementor-3685 .elementor-element.elementor-element-1cb336c {
    width: 3.982%;
  }
  .elementor-3685 .elementor-element.elementor-element-3354e00 {
    width: 76%;
  }
  .elementor-3685 .elementor-element.elementor-element-e561dee {
    width: 12%;
  }
  .elementor-3685 .elementor-element.elementor-element-f97a7cb {
    width: 4%;
  }
  .elementor-3685 .elementor-element.elementor-element-07d3a6d {
    width: 4%;
  }
  .elementor-3685 .elementor-element.elementor-element-89f7d9b {
    width: 3.982%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-3685 .elementor-element.elementor-element-3354e00 {
    width: 15%;
  }
  .elementor-3685 .elementor-element.elementor-element-e561dee {
    width: 70%;
  }
  .elementor-3685 .elementor-element.elementor-element-f97a7cb {
    width: 5%;
  }
  .elementor-3685 .elementor-element.elementor-element-07d3a6d {
    width: 5%;
  }
  .elementor-3685 .elementor-element.elementor-element-89f7d9b {
    width: 5%;
  }
}
